<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 col-lg-3">
        <h4 class="footer__titles">NAVIGATION</h4>
        <ul class="list-unstyled footer__ul">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">What We Do</a>
          </li>
          <li>
            <a href="#">To The Power Of IQ</a>
          </li>
          <li>
            <a href="#">Donate</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-lg-3">
        <h4 class="footer__titles">COURSES</h4>
        <ul class="list-unstyled footer__ul">
          <li>
            <a href="#">Encouraging Testing</a>
          </li>
          <li>
            <a href="#">Strengthening Advocacy</a>
          </li>
          <li>
            <a href="#">Sharing Information</a>
          </li>
          <li>
            <a href="#">Building Leadership</a>
          </li>
          <li>
            <a href="#">Engaging With Global Fund</a>
          </li>
          <li>
            <a href="#">Shining a Light</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-lg-3">
        <h4 class="footer__titles">TUTORS</h4>
        <ul class="list-unstyled footer__ul">
          <li>
            <a href="#">General Info</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Terms of Service</a>
          </li>
        </ul>
      </div>
      
      <div class="col-6 col-lg-3">
        <h4 class="footer__titles">TALK TO US</h4>
        <ul class="list-unstyled footer__ul">
          <li>
            <a href="#">support@elearn.com</a>
          </li>
          <li>
            <a href="#">+12 22233 1234</a>
          </li>
          <li>
            <a href="#">Facebook</a>
          </li>
          <li>
            <a href="#">Linkedin</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="footer__hr">
    <div class="footer__bottom col-12">
      <img src="img/elearnified Logo-noSlog (2)-b.png" alt="">
      <div class="footer__roadmap">
        <p>
          <a href="#">Home</a>
        </p>
        <p>
          <a href="#">Experience</a>
        </p>
        <p>
          <a href="#">News</a>
        </p>
        <p>
          <a href="#">About Us</a></p>
        <p>
          <a href="#">Jobs</a>
        </p>
        <p>
          <a href="#">Contracts</a>
        </p>
      </div>
      <div class="footer___socialMedia">
        <a href="#">
          <img src="img/facebook.svg" alt="">
        </a>
        <a href="#">
          <img src="img/twitter.svg" alt="">
        </a>
        <a href="#">
          <img src="img/youtube.svg" alt="">
        </a>
      </div>
      <p class="footer__copyRight">&copy; Copyright 2021 - elearnified</p>
    </div>
  </div>
</footer>