<section class="update-section">
    <div class="update-container">
        <div class="row">
          <div class="update-wrapper col-12 col-md-6">
            <h2 class="update-title">Recieve Updates and Information</h2>
            <p class="update-text">Learn from the best</p>
        </div>
        <form class="update-form col-12 col-md-6">
            <input type="email" class="update-email" placeholder="Your email address">
            <button type="button" class="btn btn-primary sign-up-btn">Sign up</button>
        </form>
        </div>
    </div>
</section>